.gameScreenWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #989797;
}

.title {
    font-size: 7vw;
    margin: 20px 80px 50px;
}

.infoSection {
    width: 100%;
}

.legionScreen {
    transition: all 300ms ease;
    background-blend-mode: multiply;
    background:url('../../assets/bg/legion_bg.jpg') top no-repeat fixed rgba(0,0,0,.2);
    background-size: cover;
}

.hubScreen {
    transition: all 300ms ease;
    background-blend-mode: multiply;
    background:url('../../assets/bg/hub_bg.jpg') top no-repeat fixed rgba(0,0,0,.4);
    background-size: cover;
}

.csScreen {
    transition: all 300ms ease;
    background-blend-mode: multiply;
    background:url('../../assets/bg/cs_bg.jpg') top no-repeat fixed rgba(0,0,0,.6);
    background-size: cover;
}

.hlScreen {
    transition: all 300ms ease;
    background-blend-mode: multiply;
    background:url('../../assets/bg/hl_bg.jpg') top no-repeat fixed rgba(0,0,0,.6);
    background-size: cover;
}

.minecraftScreen {
    transition: all 300ms ease;
    background-blend-mode: multiply;
    background:url('../../assets/bg/minecraft_bg.jpeg') top no-repeat fixed rgba(0,0,0,.6);
    background-size: cover;
}

.istarScreen {
    transition: all 300ms ease;
    background-blend-mode: multiply;
    background:url('../../assets/bg/istar_bg.jpg') top no-repeat fixed rgba(0,0,0,.6);
    background-size: cover;
}

@media (orientation: portrait) {
    .title {
        font-size: 7vw;
        margin: 1% 5% 5%;
    }

    .hubScreen {
        transition: all 300ms ease;
        background-blend-mode: multiply;
        background:url('../../assets/bg/hub_portrait_bg.jpg') top no-repeat fixed rgba(0,0,0,.7);
        background-size: cover;
    }
}