.gameTile {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameTile:hover {
  cursor: pointer;
}

img {
  transition: all 400ms ease;
  opacity: 0.4;
  width: 85%;
}
img:hover {
  transition: all 250ms ease;
  opacity: 1;
}
.active {
  opacity: 1;
  margin-bottom: 8px;
}