.navLink {
    display: inline-block;
    color: dodgerblue;
    text-decoration: none;
    margin-right: 10px;
    transition: all 400ms ease;
    border-bottom: 1px solid dodgerblue;
    padding: 0 1px;
    font-size: 1.2vw;
}

.navLink:hover {
    color: #2b6cf8;
    border-bottom: 1px solid #2b6cf8;
    transition: all 200ms ease;

}