.subtitle {
    font-size: 3vw;
    margin: 15px 0 30px;
}

.wrapper {
    color: #e74f04;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 50px;
    border-radius: 10px;
    margin-right: 20px;
}

.description {
    font-size: 2.2vh;
    color: #f57120;
}

.content {
    display: flex;
}

.discord {
    margin-left: auto;
    margin-right: 40px;
}

.about {
    margin: 1% 5% 5%;
}

@media (orientation: portrait) {
    .discord {
        display: none;
    }

    .subtitle {
        font-size: 5vw;
    }

    .about {
        margin: 0;
    }

    .wrapper, .secondaryWrapper {
        width: calc(100vw - 10%);
        color: #e74f04;
        background-color: rgba(0,0,0,0.5);
        border-radius: 10px;
        padding: 5% 5%;
        margin: 0;
    }
}
