.gameSelector {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 4px;
}

/* Fix for mobile browsers interface */
@media (orientation: portrait) {
    .gameSelector {
        margin-bottom: 60px;
    }
}
